/* Main and default document styles.*/

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.container {
    max-width: 300px;
}

.parameter {
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
    margin-bottom: 10px;
}

button {
    padding: 5px 10px;
}

#result {
    text-align: center;
    margin-bottom: 20px;
}
